@nav-height: 50px;

@fast-transition: 100ms;
@transition: 200ms;
@slow-transition: 400ms;

/* dark mode by default */
:root, .dark {
    --bg: #232323;

    --border-dark: #777;
    --border: #666;
    --border-light: #555;
    --border-lighter: #444;

    --text: white;
    --text-light: #c4c4c4;
    --text-lighter: #b4b4b4;

    --nav: #1c1c1c;
}

.light {
    --bg: #efefef;

    --border-dark: #aaa;
    --border: #bbb;
    --border-light: #ccc;
    --border-lighter: #ddd;

    --text: black;
    --text-light: #3b3b3b;
    --text-lighter: #606060;

    --nav: #cccccc;
}

* {
    transition: @fast-transition;
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    background: transparent;
    border: none;
    outline: none;
}

body {
    background-color: var(--bg);
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: @nav-height;

    background: var(--nav);

    div {
        display: flex;
        justify-content: center;
        align-items: center;

        span, a {
            .icon();
        }
    }
}

main {
    padding: 20px;
}

/* Icons and Links */
.icon {
    background: none;
    border: none;
    text-decoration: none;
    padding: 5px;

    svg {
        height: 40px;
        width: 40px;
        fill: var(--text-light);
        border: none;

        &:hover {
            transform: scale(1.1);
        }
    }

    &:hover {
        cursor: pointer;
    }
}

a {

}

/* text */
h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;
    font-size: 50px;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
}
